version: "3.8"

services:
  user_interface:
    build:
      context: ./user_interface
    image: sharing_ui
    container_name: sharing_ui
    restart: always
    ports: 
      - "80:80"
    environment: 
      - REACT_APP_API_URL=http://localhost:8080
      # NOTE: the above env variable isn't used in build, need to change directly in code
    networks:
      - vault_network
  api:
    build:
      context: ./api
    image: sharing_api
    container_name: sharing_api
    restart: always
    ports:
      - "8080:8080"
    environment:
      # - NODE_ENV=development
      - NODE_ENV=production
      - CRA_URL=http://localhost
      - MONGODB_URL=mongodb://admin:admin@mongodb:27017
      - JWT_SECRET=YouAreMySunshine
    networks:
      - vault_network
  mongodb:
    image: mongo
    container_name: mongodb
    expose: 
      - 27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin 
      - MONGO_INITDB_ROOT_PASSWORD=admin 
      - MONGO_INITDB_DATABASE=vault_db
    networks:
      - vault_network
    volumes:
      - mongodb_data_container:/data/db

volumes:
  mongodb_data_container:

networks:
  vault_network:
    name: vault_network